

.image{
    height: 12rem;
}

.left-row {
    justify-content: center;
}


.start-button {
    width: 15rem;
    margin: 3rem auto;
}


.lesson-title {
      
    align-items: center;
    justify-content: center;
    padding-left: 5rem;
    height: 6rem;
    width: 80%;
    
}

.package-container {
    padding-left: 8rem;
    align-items: center;
    justify-content: center; 

}

.package-bar {
    height: 1.5rem;
    max-width: 20rem;
    padding-left: 20%;
    border: 2px solid black;
    background-color: blue;
}

.lesson-image {
    height: 40%;
    width: 45%;
    margin: 5rem auto 5rem auto;
}



.separator {
    height: 4rem;
    
}

.btn-container {
    
    align-items: center;
    height: 6rem;
    width: 90%;
    padding-left: 2.5rem;
    margin: 4rem 1rem 2rem 1rem;
    position: relative;
    right: 3.5rem;
}




.secondary-button-container {
    padding: 1rem;
    margin-bottom: 1rem;
    
}

.favorite-btn-container {
    /* position: absolute;
    right: 10rem; */
    /* margin-right: 1rem; */
}

.stats-btn-container {
    margin-left: 1rem;
}



