.card {
    width: auto;
    margin-top: 0.6rem;
    padding: 0.75rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image{
    min-height: 75%;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

.lesson-image {
    border: 2px solid black;
    height: 75%;
    width: 75%;  
    min-height: 74%;
    min-width: 75%;
    margin: 3rem auto 1rem auto;
}

.lesson-level {
    margin: 4rem;
    color: rgb(18, 18, 156);
}

.lesson-item-type{
    max-width: 10rem;
}

.lesson-package{
    /* border: 1px solid red; */
    max-width: 6rem;
}



/* .lesson-top-separator{
    border: 1px solid green;
} */

.left-row {
    margin-left: 2rem;
    /* border: 1px solid green; */
    align-items: center;
    justify-content: center;
}


.start-button {
    min-width: 45%;
    max-width: 100%;
    margin: 3rem auto;
}

.title-row {
    margin-top: 1.5rem;
}

.tag-row{
   align-items: center; 
}


.lesson-title {
  
    text-align: center;
    justify-content: center;
    max-height: 5rem;
    margin: 1.5rem auto 2rem auto;
}

.item-type-container {
    /* border: 1px solid red; */
    align-items: right;
    margin-bottom: 1rem;
}

.package-container {
    
    min-width: 8rem;
    display: flex; 
    align-items: center;
    justify-content: center; 
    /* border: 1px solid blue; */

}

.package-bar {
    max-height: 2rem;
    min-width: 5rem;
    padding-left: 20%;
    border-radius: 10%;
    /* display: flex; */
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: rgb(23, 163, 23);
    color: white;
}





.separator {
    height: 4rem;
    max-height: 8rem;
    /* border: 1px solid purple; */
}

#bottom-separator {
    /* border: 1px solid goldenrod; */
    min-height: 3rem;
}

    /* 
    .btn-container {
        
        align-items: center;
        min-height: 4rem;
        min-width: 60%;
        max-height: 6rem;
        max-width: 90%;
        padding-left: 2.5rem;
        margin: 4rem 3rem 2rem 1rem;
        position: relative;
        right: 3.5rem;
    } */


.bottom-row {
    margin: 2rem;
}

#button-row {
    /* border: 1px solid fuchsia; */
    max-height: 8rem;
}


.button-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 10rem;
    padding: 0.75rem;
}

.secondary-button-container {
    padding: 1rem;
    margin-bottom: 3rem;
    /* margin-right: 1rem; */
    max-width: 10rem;
    max-height: 6rem;
}


@media screen and (max-width: 500px) {
    .secondary-button-container{
        display: flex;
        /* flex-direction: row; */
        align-items: center;
        justify-content: center;
        max-width: 4rem;
        max-height: 6rem;
        margin-left: 3rem;
        padding: 0.5rem;
    }

    .lesson-top-separator{  
        width: 4rem;
    }
    
}

.star {
    color: gold;
    margin: 0.5rem;
}

.star:hover{
    color: rgb(253, 224, 59);
    text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px darkblue;
}

.save {
    color: indigo;
    margin: 0.5rem;
}

.save:hover {
    color: rgb(126, 4, 212);
    text-shadow: 0 0 0  rgb(50, 0, 85), 0 0 25px rgb(149, 2, 255), 0 0 5px rgb(255, 255, 255);
}



