

.group-page-container {
    margin: 5rem;
}

.group-title-row {
    border-bottom: 2px solid rgb(53, 52, 52);
    align-items: center;
}


.group-title {
    align-items: center;
    margin: 3rem auto;
}



.group-subtitle {
    margin: 3rem auto;
}


.group-btn-container {

}

.group-history-title {
    margin: 3rem auto 2rem;
}

.group-page-btn {
    margin: 2rem;
}


.group-history {
    margin-bottom: 5rem;
}


.saved-title{
    margin: 3rem;
}