.login-container {
    height: 50rem;
    justify-content: center;
    /* border: 1px solid blue; */
}

#login-page {
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 50rem;
}


.validation-field-container {
    min-height: 4rem;
    min-width: 16rem;
    max-width: 30rem;
    margin: 1.5rem auto 0 auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    /* justify-content: left; */
  }
  

.form-group {
    justify-content: center;
    
}

.card-title {
    margin-top: 5rem;
}

.form-control {
    width: 80%;
    margin: 2rem;
}

.login-button {
    margin: 2rem;
}


.signup-link{
    margin-bottom: 6rem;
}