.login-container {
    height: 50rem;
}

#login-page {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.form-group {
    justify-content: center;
    
}

.card-title {
    margin-top: 5rem;
}

.form-control {
    width: 80%;
    margin: 2rem;
}

.login-button {
    margin: 2rem;
}


.signup-link{
    margin-bottom: 6rem;
}