#login-page {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.form-group {
    justify-content: center;
    
}

.form-control {
    width: 80%;
    margin: 2rem;
}

.login-button {
    margin: 2rem auto;
}