.slider-container {
    /* border: 2px solid blue; */
    height: 100%;
    width: auto;
    /* overflow: hidden; */
    display: inline-flex;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    cursor: grab;
    user-select: none;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 1rem;
    /* border: 1px solid blue; */
    min-height: 12rem;
    min-width: 12rem;
    /* max-height: 80%; */
    /* width: 10rem;
    height: 10rem; */
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    cursor: grab;
    user-select: none;
}

.demo-content{
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 8rem;
    min-width: 8rem; */
    border: 2px solid black;
    border-radius: 100%;
    overflow: hidden;
}

.demo-image {
    height: 8rem;
    width: 8rem;
}

.slide-tag {
    /* border: 1px solid black; */
    border-radius: 4%;
    padding: 0.5rem;
    margin: 1rem;
    color: black;
    /* background-color: white; */
}

.grabbing {
    cursor: grabbing;
}

.grabbing .demo-content {
    transform: scale(1.1)
}