

.groups-input {
    width: 20%;
}

.group-creation-menu {
    margin: 0 auto;
    padding: 3rem;
    height: 40rem;
}

.groups-formGroup{
    display: flex;
    align-items: center;
}


.student_list_container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 6rem;
    min-height: 4rem;
    width: 20rem;
    margin: 1rem;
}

.student_list_item{
    border: 1px solid blue;
    height: 2rem;
    width: 19rem;

}



.group-menu {
    padding: 5rem;
    align-items: center;
    justify-content: center;
}

.group-menu-title{
    margin-bottom: 2rem;
}

.group-title-row {
    margin: 3rem auto;
}

.group-item {
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
}

.group-item-card {
    text-decoration: none;
   
}

.group-separator {
    border-right: 2px solid rgb(189, 186, 186);
}

.add-button {
    color: rgb(40, 182, 40);
    margin-bottom: 2rem;
}

.add-button:hover {
    color: rgb(48, 218, 48);
}



.level-btn {
    background-color: rgb(73, 4, 119);
    color: white;
    margin: 3rem 2rem;
}

.create-group-btn {
    margin: 3rem auto;
}