.lesson-info-card {
    height: auto;
    margin: 2rem;
}

/* .lesson-image {
    max-height: 70%;
    max-width: 70%;
} */


.level {
    margin: 1.5rem 0;
    color: blue;
}


.right-top-row {
    /* border: 1px solid blue; */
}

.right-title-row {

}

.right-tag-row {
    max-height: 40%;
    margin-bottom: 5%;
}


.content-row {
    margin: 2rem 0;
}