.suggestion-row {
    background-color: rgb(208, 220, 255);
    height: auto;
}

.suggestion-tab {
    height: 8rem;
    width: 8rem;
    border: 4px solid black;
    margin-bottom: 3rem;
}

.suggestion-title {
    margin: 2rem auto;
}